* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* header style */
header {
    height: 837px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: #FFF8F3;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position: 18px 20px, right bottom;
    overflow: hidden;
}

/* navigation style */
nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 32px; /* 40 * 0.8 */
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo h2 {
    font-size: 36px; /* 45 * 0.8 */
    font-weight: bolder;
    color: #181818;
}

.logo h2 span {
    color: #FD6E0A;
}


.navigation-button ul {
    display: flex;
    justify-content: space-between;
    column-gap: 40px; /* 50 * 0.8 */
    list-style: none;
    align-items: center;
    padding: 4px 4px; /* 5 * 0.8 */
    transition: all 0.3s ease;
}

.navigation-button ul a {
    text-decoration: none;
    color: #474747;
    font-size: 16px; /* 20 * 0.8 */
}

/* banner section */
.banar_container {
    display: flex;
    padding-top: 50px; /* 100 * 0.8 */
    justify-content: space-between;
}

.banar-container-text {
    width: 468px; /* 585 * 0.8 */
    max-height: 308px; /* 385 * 0.8 */
    padding-left: 125px; /* 136 * 0.8 */
    padding-top: 160px; /* 200 * 0.8 */
}

.banar-container-text h2 {
    font-size: 36px; /* 45 * 0.8 */
    font-weight: bold;
    color: #474747;
}

.banar-container-text h1 {
    font-size: 64px; /* 80 * 0.8 */
    font-weight: bold;
    color: #181818;
}

.banar-container-text p {
    color: #474747;
}

.container-btn {
    display: flex;
    margin-top: 16px; /* 20 * 0.8 */
    column-gap: 24px; /* 30 * 0.8 */
}

/* image untouched */
.image img {
    width: 600px;

}
image {
    margin: 0;
    padding: 0;
}


/* about container style */

.about {
    max-width: 900px;
    background-color: antiquewhite;
    margin: 150px auto;
    border-radius: 10px;
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
}

.about-container {
    max-width: 600px;
    background-color: rgb(242, 242, 242);
    margin:  auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-container h1 {
    font-size: 40px;
    color:#181818;
    margin: 10px 0px;
}

.about-container p {
    color: #757575;
    font-size: 14px;
    text-align: center;
    margin: 10px 0px ;
}

.about-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 10px 0px;
}
.about-container ul li {
    text-align: left;
}

.about-container ul li h4:nth-child(odd)
{
        color: #757575;
        font-size: 14px;
}

.about-container ul li h4:nth-child(even)
{
    color: #181818;
    font-size: 10px;
    margin-top: 5px;

}

/* work container */

.work-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.work-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 30px;margin-top: 130px;
}

.work-container p {
    color: #757575;
    margin-bottom: 50px;
}

/* skill section start here */

.skills{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    column-gap: 25px;
    row-gap: 25px;
    margin-bottom: 130px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2) ;
    padding: 30px;
    background-color: #fd6f0a0a;
    border-radius: 20px;
}

.skill {
    width: 140px;
    background-color: white;
    height: 377px;
     box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2) ;
     overflow: hidden;
     padding: 30px;
     transition: all 0.3s ease;
     border-radius: 20px;
     
}
.skill:hover {
    transform: scale(1.1)
}

.skill img,p,h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill h6 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skill p {
    font-weight: lighter;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
/* universal button style */
.btn-primary {
    background-color: #FD6E0A;
    padding: 14px 24px; /* 18px 30px * 0.8 */
    border: 1px solid transparent;
    border-radius: 4px; /* 5 * 0.8 */
    color: white;
    font-size: 16px; /* 20 * 0.8 */
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    box-shadow: 0px 3px 8px 0px rgba(253, 110, 10, 0.2);
}
